body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formFiltros {
    margin-bottom: 20px;
    text-align: center;
}

#formDatos {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#formABM {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.spinner-img {
    width: 90px;
    height: 90px;
}

.hidden {
    display: none;
}


form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnAgregar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

#btnAgregar:hover {
    background-color: #45a049;
    /* Cambia el color al pasar el cursor */
}

.btn-editar,
.btn-eliminar {
    margin-right: 20px;
}

.btn-editar :hover,
.btn-eliminar :hover {
    background-color: #45a049;
}

.btn-eliminar {
    margin-left: 20px;
}

#btnCancelar {
    background-color: #f44336;
}

#btnCancelar:hover {
    background-color: #e53935;
}

#accion-titulo {
    text-align: center;
}